

/* // Large devices */
@media only screen and (max-width: 1400px) {
	.hero-section {
		padding: 100px 0 150px;
	}
	.hero-text {
	    padding: 150px 0 150px;
	}

}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	h1 {
	    font-size: 50px;
	}
	.before-btn-border {
	    width: 160px;
	}
	.hero-text p {
	    margin-right: 80px;
	}
	/* service area */
	.section-title .big-title {
	    font-size: 130px;
	}
	/* about */
	.about-title .big-title {
	    font-size: 130px;
	}
	/* fanfact */
	.stat-item .count-border {
	    left: 83px;
	}
	.stat-item .count-border.project {
	    left: 52px;
	}

	/* testimonial */
	.client-img-slider .slick-list {
	    padding: 40px 45px 0 !important;
	    margin-bottom: 50px;
	}
	.single-testi-item {
	    margin: 25px 30px 25px 10px;
	    padding: 20px 25px;
	}
	/* =====blog ======*/
	.single-news-block .blog-thumb {
	    padding-right: 0px;
	}
	.single-news-block.audio-block .blog-thumb #app {
	    width: 100%;
	}
	.blog-thumb #app .maudio .audio-control {
	    padding: 8px 0px;
	}
	.blog-thumb #app .maudio .audio-control .progress-bar {
	    margin: 11px 0;
	}
	.single-news-block.quote-block .news-text {
	    padding: 0;
	}

/* contact page */
	.contact-box ul li a {
	    padding: 20px 20px;
	    min-width: 150px;
	}
	.contact-widget {
	    padding: 30px;
	}
		
}



/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	
	h1 {
	    font-size: 40px;
	}
	.hero-text {
	    padding: 100px 0 50px;
	}


	/* service area */
	.section-title .big-title {
	    font-size: 100px;
	}
	.single-page-menu {
		display: none;
	}

	/* about-us */
	.admin-image {
	    margin: auto;
	}
	.about-us-text {
	    margin: 50px 0px 0px;
	}
	.about-title .big-title {
	    font-size: 100px;
	}
	.about-title .about-dot {
	    display: none;
	}

	/* funfact */
	.funfact-dot {
	    bottom: 50px;
	}
	.stat-item .count-border {
	    left: 100px;
	}
	.stat-item .count-border.clients {}
	.stat-item .count-border.project {
	    left: 70px;
	}
	/* funfact two */


	/* case-study */


	/* testimonial */
	.single-testi-item {
	    box-shadow: none;
    	padding: 36px 20px;
    	opacity: 0;
	    margin: 0px 30px 0px 10px;
	}

	.single-testi-item.slick-active.slick-center {
	    transform: scale(1);
	    box-shadow: none;
    	opacity: 1;
	}
	.client-img-slider .slick-list {
	    padding: 0px 20px 0 !important;
	}

	/* pricing-table */
	.pricing-mobile-btn {
	    padding: 10px 0 40px;
	}

	.pricing-table-box.third {
	    width: 33.3333%;
	}
	.pricing-table-wrap .tab-content {
	    width: 100%;
	}
	.pricing-table-facilities li {
	    padding: 10px;
	}
	.pricing-table-facilities li span {
	    margin: 3px;
	}
	/* blog section */





	/* contact page */
	.contact-box {;
	    padding: 30px;
	}
	.contact-box ul li a {
	    padding: 20px 20px;
	    min-width: 150px;
	}

}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	h1{
		font-size: 45px;
	}
	h2 {
	    font-size: 40px;
	}
	h3 {
	    font-size: 20px;
	}
/* hero section */
	.hero-section {
	    padding: 100px 0 100px;
	}
	.service-dot {
	    top: -90px;
	}
	/* about us */
	.about-text-border {
	    width: 120px;
	}
	/* fanfact */
	.stat-item .count-border {
	    left: 57px;
	}
	.stat-item-count-two .count-two {
    	font-size: 100px;
	    line-height: 100px;
	}
	.stat-item .count-border.clients {}
	.stat-item .count-border.project {
	    left: 25px;
	}

	/* fanfact two */
	.stat-item-count-two {
	    text-align: center;
	}
	.stat-item-count-two .count-border-count-two {
	    left: 50%;
	    margin-left: -64px;
	}

	/* testimonial */
	.single-testi-item {
    	padding: 36px 0px;
    	margin: 0;
	}
	.single-testi-content p {
	    padding: 0 0px 0 0;
	}
	/* ==  client-img-slider button == */
	.client-img-slider .slick-arrow {
	    left: 42%;
	}
	.client-img-slider .testi-next {
	    left: 58%;
	}

	/* pricing-table */
	.pricing-table-box .price {
	    font-size: 50px;
	}
	.pricing-table-box .choose-button {
	    min-width: 120px;
	}
	.third .text {
	    padding: 10px;
	}

	/* case study */
	.case-study-text {
	    width: 260px;
	    padding: 25px 20px 15px;
	}
	/* ===blog ====*/
	.single-news-block.single-details .news-text h2 {
	    font-size: 30px;
	}
	.news-details-content blockquote {
	    padding: 20px 40px;
	}
	.blog-share-icon {
	    margin-top: 20px;
	}
	.news-style-two .news-text h2 {
	    font-size: 25px;
	}
	.single-news-block.quote-block {
	    padding-top: 45px;
	}
	.single-news-block.quote-block:before {
	    top: 50px;
	}
	/* ============post-comments============== */
	.latest-comments {
	    padding: 25px;
	}
	.comments-box .comments-avatar {
	    float: none;
	    margin-bottom: 20px;
	}
	.child.comments-box {
	    margin-left: 30px;
	    margin-top: 40px;
	}

	/* ============ post-comments-form ============== */
	.post-comments-form {
	    padding: 25px;
	}

	/* contact page */
		.contact-box ul li a {
		    padding: 15px 15px;
		    min-width: 100px;
		}


}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.container {
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.about-us-text {
	    padding: 0 10px;
	}
	/* service area */
	.section-title .big-title {
	    font-size: 60px;
	}
	.service-dot {
	    right: 15px;
	    top: -40px;
	}

	/* about */
	.about-title .big-title {
	    font-size: 60px;
	}

	/* funfact */
	.stat-item .count-border {
	    left: 50%;
	    transform: translate(-64px, 0px);
	}
	.stat-item .count-border.clients {}
	.stat-item .count-border.project {
	    left: 50%;
	}
	.stat-item .text.clients,
	.stat-item .text.project,
	.stat-item .text.team {
	    left: inherit;
	}
	.funfact-dot {
		display: none;
	}


/* pricing-table */

	.pricing-table-section {
	    padding: 50px 0 20px;
	}
	.tab-content .table-tab-content-inner.active {
	    display: block !important;
	}
	.pricing-table-box,
	.pricing-table-box.third{
		    width: 100%;
	}
	.pricing-table-box.second, 
	.pricing-table-box.forth {
	    margin: 30px 0;
	}
	.pricing-table-box .choose-button {
	    min-width: 160px;
	}
/* single-case-study */
	.single-case-study img {
	    width: 100%;
	}
	/* blog */
	.single-news-block {
	    padding: 20px 15px 50px;
	}
	.news-style-two .news-text h3 {
	    font-size: 30px;
	}

/* footer */
	
	.footer {
	    text-align: center;
	    padding-top: 175px;
	}
	.footer-social-icon {
	    margin-bottom: 35px;
	}
	.footer-bottom {
	    padding-bottom: 75px;
	}

	/* widget */
	.widget {
	    padding: 20px;
	}

	/* contact page */
	.contact-box ul li a {
	    min-width: 150px;
    	padding: 20px 15px;
    	margin-bottom: 20px;

	}
	.contact-box ul {
	    display: block;
	    text-align: center;
	}



}

@media (max-width: 500px) {
	.hero-text p {
	    margin-right: 0;
	}
	.dot-left-bar,
	.left-dot-outer {
		display: none;
	}
	.right-dot-outer {
		display: none;
	}
	.before-btn-border {
	    width: 100px;
	}
	.footer {
	    padding-top: 130px;
	}

}
@media (max-width: 400px) {
	h1 {
	    font-size: 40px;
	}

	/* service area */
	.section-title .big-title {
	    font-size: 40px;
	}
	/* about */
	.about-title .big-title {
	    font-size: 40px;
	}

	.before-btn-border {
	    width: 50px;
	}

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 992px) {
	.single-testi-item.slick-active.slick-center {
	    width: 91% !important;
	}


}





