    /*
    Flaticon icon font: Flaticon
    Creation date: 22/11/2019 14:16
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-left-arrow:before { content: "\f100"; }
.flaticon-right-arrow:before { content: "\f101"; }
.flaticon-wrong:before { content: "\f102"; }
.flaticon-single:before { content: "\f103"; }
.flaticon-tick:before { content: "\f104"; }
.flaticon-play-arrow:before { content: "\f105"; }
.flaticon-comment:before { content: "\f106"; }
.flaticon-magnifying-glass:before { content: "\f107"; }
.flaticon-services-portfolio:before { content: "\f108"; }
.flaticon-information:before { content: "\f109"; }
.flaticon-bag:before { content: "\f10a"; }
    
    $font-Flaticon-left-arrow: "\f100";
    $font-Flaticon-right-arrow: "\f101";
    $font-Flaticon-wrong: "\f102";
    $font-Flaticon-single: "\f103";
    $font-Flaticon-tick: "\f104";
    $font-Flaticon-play-arrow: "\f105";
    $font-Flaticon-comment: "\f106";
    $font-Flaticon-magnifying-glass: "\f107";
    $font-Flaticon-services-portfolio: "\f108";
    $font-Flaticon-information: "\f109";
    $font-Flaticon-bag: "\f10a";